/* src/index.css */

@import "tailwindcss";

@theme {
    --color-page-bg: #09090b;
    --color-card-bg: #121214;
    --color-card-border: rgba(255, 255, 255, 0.1);
    --radius-card: 24px;
}

body {
    background-color: var(--color-page-bg);
    font-family: 'Inter', sans-serif;
    /* 폰트 하나로 통일 */
    color: white;
}